<div class="page-header">
  <%= link_to samples_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <h1>New sample</h1>
  <p> This view should provide placeholders, masks, error validations and autocomplete functions for most commmon fields</p>
</div>

<%= render 'form' %>
