<p>Olá <%= @resource.email %>!</p>

<p>Foi solicitada a troca de senha. Ela poderá ser feita através do link abaixo</p>

<p><%= link_to 'Trocar minha senha', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Se você não fez essa solicitação, ignore este email</p>
